.contact-type {
    height: 4rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

    .contact-type:hover {
        background-color: #F3F5F6;
    }

    .contact-type.active {
        background-color: #E5EFFF;
    }

.contact-type-icon {
    display: flex;
    align-items: center;
}

    .contact-type-icon > img {
        width: 50px;
        padding: 10px;
    }

.contact-type-description {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}
