@import "/src/GlobalStyle.scss";
$size-variants: (
    "-sm": 16px,
    "": 50px,
    "-lg": 80px
);

@each $variant, $size in $size-variants {
    .avatar-img#{$variant} {
        width: $size;
        height: $size;
    }
}
