@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<style>
    #txtUser, #txtRoom {
        width: 100%;
    }

    button.btn.btn-secondary {
        width: 100%
    }
</style>
<form method="GET" action="/ChatRoom/Index">
    <div class="container">
        <div class="row p-1">
            <div class="col-1">User</div>
            <div class="col-5"><input type="text" id="txtUser" name="txtUser" /></div>
        </div>
        <div class="row p-1">
            <div class="col-1">Room</div>
            <div class="col-5"><input type="text" class="w-100" id="txtRoom" name="txtRoom" /></div>
        </div>
        <div class="row p-1">
            <div class="col-6 text-end">
                <button type="submit" class="btn btn-secondary" id="btnJoin">Join</button>
            </div>
        </div>
    </div>
</form>
<script src="~/js/signalr.js"></script>
<script src="~/js/Index/Index.js"></script>


