@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>
    body {
        height: 100vh;
        margin: 0px;
    }

    .container {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }


    #user-icon {
        max-width: 10rem;
        width: 50%;
        height: auto;
        margin: 1rem 0rem;
    }

    #register-form {
        display: none;
    }

    #row {
        width: 55rem;
        height: 100%;
    }

</style>

<div class="row d-flex justify-content-center align-items-center" id="row">
    <div class="col-5 shadow-lg p-3 mb-5 bg-light rounded">

        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="#" id="login-form-link">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="register-form-link">Register</a>
            </li>
        </ul>


        <div id="login-form">
          @Html.Partial("LoginForm.cshtml");
        </div>

        <div id="register-form">
            @Html.Partial("RegisterForm.cshtml");
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        const loginForm = $("div#login-form");
        const registerForm = $("div#register-form");

        const loginLink = $("a#login-form-link");
        const registerLink = $("a#register-form-link");


        $(loginLink).click(function () {
            loginLink.addClass("active");
            registerLink.removeClass("active");

            loginForm.show();
            registerForm.hide();
        });

        $(registerLink).click(function () {
            loginLink.removeClass("active");
            registerLink.addClass("active");

            loginForm.hide();
            registerForm.show();
        });
    });

</script>

