@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* User icon image *@
<div class="row">
    <div class="d-flex justify-content-center">
        <img id="user-icon" src="/img/user.png" />
    </div>
</div>


<form action="@Url.ActionLink("Login","Log")" method="POST">

    <div class="mb-3 input-group">
        <input type="text" class="form-control" id="txtLoginPhone" name="txtLoginPhone" placeholder="Username">
    </div>
    <div class="mb-3 input-group">
        <input type="password" class="form-control" id="txtLoginPassword" name="txtLoginPassword" placeholder="Password">
    </div>


    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="cbRememberPassword">
        <label class="form-check-label" for="cbRememberPassword" name="cbRememberPassword">Remember Password</label>
    </div>
    <button type="submit" class="btn btn-primary" name="btn-Login">Login</button>
</form>