@{
}
<link rel="stylesheet" href="/css/ChatRoom/ApplicationNavbar/ApplicationNavbar.css"/>

<div class="application-nav-bar">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link" href="#" id="info-pop-up-container">
                <img draggable="false" src="~/img/user.png" class="avatar-img" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#" id="conversation-page">
                <img draggable="false" src="~/img/chat.png" class="nav-bar-icon" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="contact-page">
                <img draggable="false" src="~/img/notebook-of-contacts.png" class="nav-bar-icon" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Log/Logout" id="contact-page">
                <img draggable="false" src="~/img/logout.png" class="nav-bar-icon" />
            </a>
        </li>

    </ul>
    <ul class="nav nav-tabs nav-fill">
    </ul>
</div>
