@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .application-nav-bar {
        height: 100%;
        background-color: #0091FF;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .nav-link {
        padding: 10px 0px;
        border: none !important;
        transition: background-color 0.1s ease-in-out;
    }

        .nav-link:hover {
            border: none !important;
            background-color: #0082E5 !important;
        }

        .nav-link.active {
            background-color: #006EDC !important;
        }

    .application-nav-bar a.nav-link#info-pop-up-container > img.avatar-img {
        border-radius: 50%;
        margin: 2rem 0rem;
    }

    .nav-bar-icon,
    .avatar-img {
        width: 50px;
        height: 50px;
    }

    .nav-tabs {
        border-bottom: none;
    }
</style>

<div class="application-nav-bar">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link" href="#" id="info-pop-up-container">
                <img src="~/img/user.png" class="avatar-img" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#" id="conversation-page">
                <img src="~/img/user.png" class="nav-bar-icon" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="contact-page">
                <img src="~/img/user.png" class="nav-bar-icon" />
            </a>
        </li>

    </ul>
    <ul class="nav nav-tabs nav-fill">
    </ul>
</div>

<script>
    $(document).ready(function () {
        const CONVERSATION_PAGE = "conversation-page";
        const CONTACT_PAGE = "contact-page";
        const INFO_POPUP = "info-pop-up-container";
        const UPDATE_INFO_POPUP = "update-info-popup-container";


        // Animation
        let navLinks = $(".application-nav-bar .nav-link")
        navLinks.each(function () {
            $(this).click(function () {
                let clickId = $(this).prop("id");
                if (clickId === "info-pop-up-container") {
                    hideAllPopUps();
                    showPopUp(clickId);
                } else {
                    hideAllPages();
                    showPage(clickId);
                    disableAllNavLinks();
                    activateNavLinks($(this));
                }
            });


            function disableAllNavLinks() {
                navLinks.each(function () {
                    if ($(this).hasClass("active")) {
                        $(this).removeClass("active");
                    }
                });
            }
            function activateNavLinks(navLinkObject) {
                navLinkObject.addClass("active");
            }
            function hideAllPages() {
                $("." + CONVERSATION_PAGE + "").hide();
                $("." + CONTACT_PAGE + "").hide();
            }
            function showPage(className) {
                $("." + className + "").show();
            }
            function hideAllPopUps() {
                $("." + INFO_POPUP + "").hide();
                $("." + UPDATE_INFO_POPUP + "").hide();
            }
            function showPopUp(popUpName) {
                $("." + popUpName + "").show();
            }
        });
    });
</script>

@* Load data dynamically *@
<script>
    $(document).ready(function () {
        const APPLICATION_NAVBAR = $(".application-nav-bar");

        let user = {
            name: "Đứca",
            gender: "Nam",
            DoB: "10-02-2003",
            phoneNumber: "+84123",
            backgroundImgURL: "https://carwow-uk-wp-3.imgix.net/18015-MC20BluInfinito-scaled-e1666008987698.jpg",
            avatarURL: "https://static2-images.vnncdn.net/files/publish/2022/12/8/meo-1-1416.jpg",
        };

        loadData(user);

        function loadData(user) {
            const avatarImg = APPLICATION_NAVBAR.find("a.nav-link#info-pop-up-container > img.avatar-img");
            avatarImg.attr("src", user.avatarURL);
        }
    });
</script>