@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .application-nav-bar {
        height: 100%;
        background-color: #0091FF;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .nav-link {
        padding: 10px 0px;
        border: none !important;
        transition: background-color 0.1s ease-in-out;
    }

        .nav-link:hover {
            border: none !important;
            background-color: #0082E5 !important;
        }

        .nav-link.active {
            background-color: #006EDC !important;
        }

    .nav-bar-icon {
        width: 50px;
        height: 50px;
    }

    .nav-tabs {
        border-bottom: none;
    }
</style>

<div class="application-nav-bar">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link active" href="#" id="login-form-link">
                <img src="~/img/user.png" class="nav-bar-icon" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="register-form-link">
                <img src="~/img/user.png" class="nav-bar-icon" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="register-form-link">
                <img src="~/img/user.png" class="nav-bar-icon" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="register-form-link">
                <img src="~/img/user.png" class="nav-bar-icon" />
            </a>
        </li>

    </ul>
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link" href="#" id="login-form-link">
                <img src="~/img/user.png" class="nav-bar-icon" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="register-form-link">
                <img src="~/img/user.png" class="nav-bar-icon" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="register-form-link">
                <img src="~/img/user.png" class="nav-bar-icon" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="register-form-link">
                <img src="~/img/user.png" class="nav-bar-icon" />
            </a>
        </li>
    </ul>
</div>

<script>
    $(document).ready(function () {
        let navLinks = $(".application-nav-bar .nav-link")
        navLinks.each(function () {
            $(this).click(function () {
                disableAllNavLinks();
                activateNavLinks($(this));
            });


            function disableAllNavLinks() { 
                navLinks.each(function () {
                    if ($(this).hasClass("active")) { 
                        $(this).removeClass("active");                   
                    }
                });
            }
            function activateNavLinks(navLinkObject) { 
                navLinkObject.addClass("active");
            }
        });



    });
</script>
