.info-modal {
    .modal-dialog {
        display: flex;
        justify-content: center;
        .modal-title {
            > button {
                width: 35px;
                height: 35px;
            }
        }

        .modal-content {
            border-radius: var(--modal-border-radius);
            width: auto;
        }
    }
}
