@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/ChatRoom/ConversationList/ConversationList.css" />

<div class="search-bar-container">
    <div class="search-input-container d-flex">
        <input type="text" class="search-bar-input form-control" placeholder="Tìm kiếm" />
        <div class="search-bar-btn-container d-flex">
            <button class="btn btn-add-friend">
                <img draggable="false" class="search-bar-icon" src="~/img/add-user.png" />
            </button>
            <button class="btn btn-create-group">
                <img draggable="false" class="search-bar-icon" src="~/img/add-user.png" />
            </button>
        </div>
    </div>
</div>

<div class="conversations-list-container ">
    @*     DO NOT MODIFY TEMPLATE *@
    <template>
        <div class="conversation active d-flex">
            <div class="conversation-avatar">
                <img draggable="false" src="~/img/user.png" />
            </div>
            <div class="conversation-description">
                <div class="conversation-name text-truncate">
                    Group 2
                </div>
                <div class="conversation-last-message text-truncate">
                    You: Hello world lllllldasfasgjhasjgkhsagjsllllllllllll
                </div>
            </div>
        </div>
    </template>
</div>

<script type="module" src="./js/ConversationList/SearchBarScript.js"></script>


