@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/ChatRoom/Conversation/Conversation.css" />
<div class="chat-box-container">

    <div class="user-info-container d-flex">
        <div class="avatar-container">
            <img class="avatar-image" src="/img/user.png" />
        </div>
        <div class="user-name-container">
            <p> @* Conversation name *@ </p>
        </div>
    </div>

    <div class="conversation-container">
        <div class="message-container">
            @* Example of one conversation. DO NOT DELETE *@
            <template>
                <div class="message-item-container sender">
                    <div class="message-item">
                        <div class="message-list">

                            <div class="message-row">
                                <div class="message ">
                                    <div class="message-content">
                                        message content
                                    </div>
                                    <div class="message-time">
                                        time
                                    </div>
                                </div>
                            </div>
                            <div class="message-row">
                                <div class="message ">
                                    <div class="message-content">
                                        message content
                                    </div>
                                    <div class="message-time">
                                        time
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="message-item-container receiver">
                    <div class="message-item">
                        <div class="user-avatar">
                            <img draggable="false" class="avatar-image" src="~/img/user.png" />
                        </div>
                        <div class="message-list">
                            <div class="message-row">

                                <div class="message">
                                    <div class="user-name">
                                        name
                                    </div>
                                    <div class="message-content">
                                        mesage content
                                    </div>
                                    <div class="message-time">
                                        time
                                    </div>
                                </div>

                            </div>

                            <div class="message-row">
                                <div class="message">
                                    <div class="message-content">
                                        mesage content
                                    </div>
                                    <div class="message-time">
                                        time
                                    </div>
                                </div>
                            </div>
                            <div class="message-row">
                                <div class="message">
                                    <div class="message-content">
                                        mesage content
                                    </div>
                                    <div class="message-time">
                                        time
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            @* Example of one conversation. DO NOT DELETE *@
        </div>
        <div class="user-input-notification">
            @* Example of one input notification. DO NOT DELETE *@
            User A is typing ...
            @* Example of one input notification. DO NOT DELETE *@
        </div>
    </div>

    <div class="input-message-container">
        <div class="row">
            <div class="col-10">
                <input class="input-message" />
            </div>
            <div class="col-2">
                <button class="btn-secondary btn-send-message">Gửi</button>
            </div>
        </div>
    </div>
</div>


