@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/ChatRoom/ContactTypeList/ContactTypeList.css" />

<div class="contact-type-list-container">
    <div class="contact-type active d-flex" id="friend-list-container">
        <div class="contact-type-icon">
            <img draggable="false" src="~/img/add-user.png" />
        </div>
        <div class="contact-type-description">
            <div class="contact-type-name">
                Danh sách bạn bè
            </div>
        </div>
    </div>

    <div class="contact-type d-flex" id="group-list-container">
        <div class="contact-type-icon">
            <img draggable="false" src="~/img/add-user.png" />
        </div>
        <div class="contact-type-description">
            <div class="contact-type-name">
                Danh sách nhóm
            </div>
        </div>
    </div>

    <div class="contact-type d-flex" id="friend-request-list-container">
        <div class="contact-type-icon">
            <img draggable="false" src="~/img/add-user.png" />
        </div>
        <div class="contact-type-description">
            <div class="contact-type-name">
                Lời mời kết bạn
            </div>
        </div>
    </div>
</div>

<script src="~/js/ContactTypeList/ContactTypeListScript.js"></script>
