@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .contact-type {
        height: 4rem;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out;
    }

        .contact-type:hover {
            background-color: #F3F5F6;
        }

        .contact-type.active {
            background-color: #E5EFFF;
        }

    .contact-type-icon {
        display: flex;
        align-items: center;
    }

        .contact-type-icon > img {
            width: 50px;
            padding: 10px;
        }



    .contact-type-description {
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        font-size: 1rem;
        font-weight: bold;
    }
</style>

<div class="contact-type-list-container">
    <div class="contact-type active d-flex" id="friend-list-container">
        <div class="contact-type-icon">
            <img src="~/img/add-user.png" />
        </div>
        <div class="contact-type-description">
            <div class="contact-type-name">
                Danh sách bạn bè
            </div>
        </div>
    </div>

    <div class="contact-type d-flex" id="group-list-container">
        <div class="contact-type-icon">
            <img src="~/img/add-user.png" />
        </div>
        <div class="contact-type-description">
            <div class="contact-type-name">
                Danh sách nhóm
            </div>
        </div>
    </div>

    <div class="contact-type d-flex" id="friend-request-list-container">
        <div class="contact-type-icon">
            <img src="~/img/add-user.png" />
        </div>
        <div class="contact-type-description">
            <div class="contact-type-name">
                Lời mời kết bạn
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const FRIEND_LIST_PAGE = "friend-list-container";
        const GROUP_LIST_PAGE = "group-list-container";
        const FRIEND_REQUEST_LIST_PAGE = "friend-request-list-container";


        let contactTypeListContainer = $("div.contact-type-list-container");
        let contactTypes = $(contactTypeListContainer).find(".contact-type");
        console.log(contactTypes);
        contactTypes.each(function () {
            $(this).click(function () {
                hideAllPages();
                let clickId = $(this).prop("id");
                showPage(clickId);
                disableAllContactType();
                activateContactType($(this));
            });

        });
        function activateContactType(divElement) {
            divElement.addClass("active");
        }
        function disableAllContactType() {
            contactTypes.each(function () {
                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                }
            });
        }
        function showPage(className) {
            $("." + className).show();
        }

        function hideAllPages() {
            $("." + FRIEND_LIST_PAGE).hide();
            $("." + GROUP_LIST_PAGE).hide();
            $("." + FRIEND_REQUEST_LIST_PAGE).hide();
        }

    });

</script>
