@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/ChatRoom/ContactList/ContactList.css" />

<div class="contact-page-container">

    <div class="friend-list-container">
        <div class="page-info-container d-flex">
            <div class="avatar-container">
                <img class="avatar-icon" src="/img/add-user.png" />
            </div>
            <div class="info-container">
                <p> Danh sách bạn bè </p>
            </div>
        </div>
        <div class="contact-list-container">
            @* ========================= DO NOT DELETE TEMPLATE ========================= *@
            <template>
                <div class="contact-row">
                    <div class="contact-info-container">
                        <div class="avatar-container">
                            <img draggable="false" class="avatar-icon" src="/img/user.png" />
                        </div>
                        <div class="user-name-container">
                            <div class="user-name">Lol</div>
                        </div>
                    </div>
                    <div class="btn-container">
                        <button class="btn btn-detail">...</button>
                        <button class="btn btn-delete-friend">X</button>
                    </div>
                </div>
            </template>
            @* ========================= DO NOT DELETE TEMPLATE ========================= *@
        </div>
    </div>

    <div class="group-list-container">
        <div class="page-info-container d-flex">
            <div class="avatar-container">
                <img class="avatar-icon" src="/img/add-user.png" />
            </div>
            <div class="info-container">
                <p> Danh sách nhóm </p>
            </div>
        </div>
        <div class="contact-list-container">
            @* ========================= DO NOT DELETE TEMPLATE ========================= *@
            <template>
                <div class="contact-row">
                    <div class="contact-info-container">
                        <div class="avatar-container">
                            <img draggable="false" class="avatar-icon" src="/img/user.png" />
                        </div>
                        <div class="user-name-container">
                            <div class="user-name">Lol</div>
                        </div>
                    </div>
                    <div class="btn-container">
                        <button class="btn btn-detail">...</button>
                        <button class="btn btn-delete-friend">X</button>
                    </div>
                </div>
            </template>
            @* ========================= DO NOT DELETE TEMPLATE ========================= *@   @* =================================== Insert data here ================================= *@
        </div>
    </div>

    <div class="friend-request-list-container">
        <div class="page-info-container d-flex">
            <div class="avatar-container">
                <img class="avatar-icon" src="/img/add-user.png" />
            </div>
            <div class="info-container">
                <p> Lời mời kết bạn </p>
            </div>
        </div>
        <div class="contact-list-container">
            @* ========================= DO NOT DELETE TEMPLATE ========================= *@
            <template>
                <div class="contact-row">
                    <div class="contact-info-container">
                        <div class="avatar-container">
                            <img draggable="false" class="avatar-icon" src="/img/user.png" />
                        </div>
                        <div class="user-name-container">
                            <div class="user-name">Lol</div>
                        </div>
                    </div>
                    <div class="btn-container">
                        <button class="btn btn-detail">Accept</button>
                        <button class="btn btn-detail">...</button>
                        <button class="btn btn-delete-friend">X</button>
                    </div>
                </div>
            </template>
            @* ========================= DO NOT DELETE TEMPLATE ========================= *@
        </div>
    </div>
</div>



