@import "/src/GlobalStyle.scss";

.user-info-container {
    border-bottom: 1px solid $border-color;
    padding: 12px 18px;
}

.conversation-container {
    position: relative;
    .message-container {
        height: 100%;
        overflow: auto;
        background-color: #eef0f1;
        .message-item-container {
            display: flex;
            .message {
                width: fit-content;
                max-width: 40rem;
                margin: 0.2rem 0rem;
                padding: 0.7rem;
                border: 1px solid black;
                border-radius: 0.7rem;
                word-wrap: break-word;
                .user-name,
                .message-time {
                    font-size: 0.8rem;
                    color: #476285;
                }
            }
            &.receiver {
                justify-content: flex-start;
                .message {
                    background-color: white;
                }
            }
            &.sender {
                justify-content: flex-end;
                .message {
                    background-color: #e5efff;
                }
            }
        }
    }
}

.user-input-notification {
    position: absolute;
    bottom: 0px;
    padding-left: 1rem;
    background: #e5efffbf;
    width: 100%;
}
