.user-info-container {
    border-bottom: 1px solid var(--border-color);
    padding: 12px 18px;
}

.conversation-container {
    .message-container {
        height: 100%;
        overflow: auto;
        background-color: #eef0f1;
    }
    .user-input-notification {
        position: relative;
        bottom: 0px;
        padding-left: 1rem;
        background: #e5efffbf;
        width: 100%;
    }
}
