.contact-row {
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    transition: background-color 0.1s ease-in-out;
    &:hover {
        background-color: #f3f5f6;
    }
    .contact-info-container {
        --contact-info-container-width: clamp(0px, 90%, 968px);
        --avatar-icon-width: 50px;
        --user-name-width: calc(var(--contact-info-container-width) - var(--avatar-icon-width));
        width: var(--contact-info-container-width);
        .btn-container button {
            padding: 0.5rem;
            margin: 0rem 0.5rem;
            font-weight: bold;
        }
        p {
            margin-bottom: 0px;
            margin-left: 1rem;
            font-weight: bold;
            font-size: large;
        }
        .avatar-icon {
            width: var(--avatar-icon-width);
            height: var(--avatar-icon-width);
        }
        .user-name-container {
            width: var(--user-name-width);
            height: var(--avatar-icon-width);
            .user-name {
                /* For truncating text */
                padding: 12px;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
}
