$black: #000;
$light-gray: #eef0f1;
$light-gray2: #f9fafb;
$gray: #7c8fa6;
$gray-hover: #dfe2e7;
$gray-active: #d6dbe1;

$light-blue: #e5efff;
$light-blue-hover: #c7e0ff;
$light-blue-hover-2: #f3f5f6;
$light-blue-active: #abcdff;

$blue: #0068ff;
$blue-hover: #004bb9;
$blue-active: #00378a;

$white: #fff;
$modal-border-radius: 6px;

$border-color: #d7dce1;

.h-fit-content {
    height: fit-content;
}
.container-divider {
    width: 100%;
    height: 7px;
    background-color: $light-gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-divider-2px {
    width: 100%;
    height: 2px;
    background-color: $light-gray;
    margin-top: 10px;
    margin-bottom: 10px;
}
