body {
  margin: 0;
  height: 100vh;
  padding: 0px;
  overflow: hidden;
  & > div#root {
    width: 100%;
    height: 100%;
  }
}
*::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(164, 164, 164); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
