.contact-page-header {
    border-bottom: 1px solid var(--border-color);
}

.contact-list-container {
    height: var(--contact-list-container-height);
    margin-left: 36px;
    margin-right: 16px;
    background-color: #ffffff;
}


