<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmallChatApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @* set the global variable to use in partial view and external script *@
    <script>
        var BASE_ADDRESS = "https://localhost:7190";
    </script>
    @* Defining namespace for extenal script to run *@
    <script src="~/js/Namespaces/ApplicationNavbarNamespace.js"></script>
    <script src="~/js/Namespaces/InfoPopupNamespace.js"></script>
    <script src="~/js/Namespaces/UpdateInfoPopupNamespace.js"></script>

    @* set the global variable to use in partial view *@
    <script>
        $(document).ready(function () {
            var user;
            $.ajax({
                url: BASE_ADDRESS + "/api/Users/" + @ViewBag.ID,
                dataType: 'json',
                type: 'GET',
                contentType: 'application/json',
                success: function (data, textStatus, jQxhr) {

                    //User json format
                    /*
                        "userId": 1,
                        "phoneNumber": "",
                        "password": "",
                        "name": "",
                        "dob": "",
                        "gender": "Nam"
                        "avatarUrl": "",
                        "backgroundUrl": "",
                        "introduction": "fix bug :(",
                        "email": "",
                        "active": true,
                        "groupGroupDeputies": [],
                        "groupGroupLeaders": [],
                        "messages": []
                    */
                    user = data;
                    //Use namespace so i can access other script file without having to include it here
                    ApplicationNavbarNamespace.LoadData(user);
                    InfoPopupNamespace.LoadData(user);
                    UpdateInfoPopupNamespace.LoadData(user);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        });
    </script>

</head>
<body>
    <header>
    </header>

    <div class="container-fluid">
        @RenderBody()
    </div>

    @*     <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - SmallChatApplication - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
    </footer> *@



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>