@use "sass:string";
$sizes: (
    --xxxs: 12px,
    --xxs: 16px,
    --xs: 24px,
    --sm: 32px,
    --m: 40px,
    --lg: 60px,
    --xl: 72px,
    --xxl: 90px,
    --xxxl: 120px
);
$font-sizes: (
    --h1: 48px,
    --h2: 40px,
    --h3: 32px,
    --h4: 28px,
    --h5: 24px,
    --h6: 20px,
    --p: 16px,
    --small: 14px
);

$color-variables: (
    --black: #000,
    --light-gray: #eef0f1,
    --light-gray2: #f9fafb,
    --gray: #7c8fa6,
    --gray-hover: #dfe2e7,
    --gray-active: #d6dbe1,
    --light-blue: #e5efff,
    --light-blue-hover: #c7e0ff,
    --light-blue-hover-2: #f3f5f6,
    --light-blue-active: #abcdff,
    --blue: #0068ff,
    --blue-hover: #004bb9,
    --blue-active: #00378a,
    --white: #fff
);

:root {
    --modal-border-radius: 6px;
    --border-color: #d7dce1;
    --border-color-focus: #3d8cff;

    @each $key, $value in $color-variables {
        #{$key}: #{$value};
    }
}
@each $key, $value in $font-sizes {
    #{str-insert(str-slice($key, 3, str-length($key)), '.', 1)} {
        font-size: #{$value};
    }
}

@each $key, $value in $color-variables {
    #{str-insert(str-slice($key, 3, str-length($key)), '.text-', 1)} {
        color: #{$value};
    }
    #{str-insert(str-slice($key, 3, str-length($key)), '.bg-', 1)} {
        background-color: #{$value};
    }
}
@each $key, $value in $sizes {
    #{str-insert(str-slice($key, 3, str-length($key)), '.mt-', 1)} {
        margin-top: #{$value};
    }
    #{str-insert(str-slice($key, 3, str-length($key)), '.me-', 1)} {
        margin-right: #{$value};
    }
    #{str-insert(str-slice($key, 3, str-length($key)), '.mb-', 1)} {
        margin-bottom: #{$value};
    }
    #{str-insert(str-slice($key, 3, str-length($key)), '.ms-', 1)} {
        margin-left: #{$value};
    }
    #{str-insert(str-slice($key, 3, str-length($key)), '.pt-', 1)} {
        padding-top: #{$value};
    }
    #{str-insert(str-slice($key, 3, str-length($key)), '.pe-', 1)} {
        padding-right: #{$value};
    }
    #{str-insert(str-slice($key, 3, str-length($key)), '.pb-', 1)} {
        padding-bottom: #{$value};
    }
    #{str-insert(str-slice($key, 3, str-length($key)), '.ps-', 1)} {
        padding-left: #{$value};
    }
}
.h-fit-content {
    height: fit-content;
}

.flex-1 {
    flex: 1;
}
.text-align-right {
    text-align: right;
}
.text-align-left {
    text-align: left;
}

.transition-all-0_2s-ease-in-out {
    transition: all 0.2s ease-in-out;
}

.container-divider {
    width: 100%;
    height: 7px;
    background-color: var(--light-gray);
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-divider-2px {
    width: 100%;
    height: 2px;
    background-color: var(--light-gray);
    margin-top: 10px;
    margin-bottom: 10px;
}
