@import "/src/GlobalStyle.scss";

.menu-contact-item {
    height: 4rem;
    transition: background-color 0.15s ease-in-out;
    padding-left: 20px;
    background-color: $light-gray2;

    &:hover {
        background-color: $light-blue-hover-2;
    }
    &.active {
        background-color: $light-blue;
    }
    .description {
        .item-name-container {
            width: 80%;
            height: 20px;
        }
    }
}
