@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    #info-modal {
        --modal-dialog-width: 384px;
        --modal-dialog-height: 556.16px;
        --modal-header-height: 52.14px;
        --modal-footer-height: 70.08px;
        --modal-body-height: calc(var(--modal-dialog-height) - var(--modal-header-height) - var(--modal-footer-height));
    }

        #info-modal .modal-dialog {
            /* modal-dialog-center only center the dialog not the modal-content when in the mobile version */
            justify-content: center;
        }

            #info-modal .modal-dialog .modal-content {
                width: var(--modal-dialog-width);
                height: var(--modal-dialog-height);
            }

        #info-modal .modal-header {
            height: var(--modal-header-height);
        }

        #info-modal .modal-body {
            height: var(--modal-body-height);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0px !important;
        }

            #info-modal .modal-body .background-img-container {
                width: 100%;
                height: 10rem;
            }

                #info-modal .modal-body .background-img-container img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

            #info-modal .modal-body .avatar-img-container {
                position: relative;
                height: 20%;
                display: flex;
                justify-content: center;
            }

                #info-modal .modal-body .avatar-img-container img {
                    position: absolute;
                    border: 2px solid white;
                    transform: translateY(-50%);
                }

            #info-modal .modal-body .user-name {
                height: 20%;
                margin: 0rem 2rem;
                display: flex;
                justify-content: center;
                font-weight: bold;
            }

                #info-modal .modal-body .user-name p {
                    font-size: large;
                    text-align: center;
                    width: 100%;
                    overflow-wrap: break-word;
                }

            #info-modal .modal-body .personal-information-container {
                height: 60%;
                margin: 0rem 2rem;
                display: flex;
                flex-direction: column;
            }

                #info-modal .modal-body .personal-information-container .personal-information-row {
                    display: flex;
                    justify-content: space-between;
                    margin: 0.3rem 0rem;
                }

                    #info-modal .modal-body .personal-information-container .personal-information-row:not(:has(.personal-information-row-name)) {
                        font-weight: bold;
                        font-size: large;
                    }

                #info-modal .modal-body .personal-information-container .personal-information-row-name {
                    color: #7C8FA6;
                }

        #info-modal .modal-footer {
            height: var(--modal-footer-height);
            border: none;
        }

            #info-modal .modal-footer .btn-update-information,
            #info-modal .modal-footer .btn-add-friend {
                width: 100%;
                background-color: #EAEDF0;
                font-weight: bold;
            }
</style>

<div class="modal fade" id="info-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin cá nhân</h5>
                <button type="button" class="btn-close close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="background-img-container">
                    <img draggable="false" src="~/img/default_background_img.png" />
                </div>
                <div class="avatar-img-container">
                    <img class="avatar-icon" draggable="false" src="~/img/default_avatar_img.png" />
                </div>
                <div class="user-name">
                    @* 50 characters to break the layout *@
                    <p>Javamismknownmformitsmportabilitymandmstrongmcomms</p>
                </div>

                <div class="personal-information-container">
                    <div class="personal-information-row">
                        Thông tin cá nhân
                    </div>
                    <div class="personal-information-row">
                        <div class="personal-information-row-name">
                            Điện thoại
                        </div>
                        <div class="personal-information-row-detail">
                            +84123456789
                        </div>
                    </div>

                    <div class="personal-information-row">
                        <div class="personal-information-row-name">
                            Giới tính
                        </div>
                        <div class="personal-information-row-detail">
                            Nam
                        </div>
                    </div>

                    <div class="personal-information-row">
                        <div class="personal-information-row-name">
                            Ngày sinh
                        </div>
                        <div class="personal-information-row-detail">
                            Ngày 01 tháng 01, 2000
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-update-information"> Cập nhật thông tin</button>
                <button class="btn btn-add-friend"> Kết bạn</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        const INFO_MODAL = $(".modal#info-modal");
        let closeBtn = $(".modal#info-modal button.btn-close");
        closeBtn.click(function (e) {
            $(INFO_MODAL).modal("hide");
        });

        // Load update-info-popup-container
        const UPDATE_INFO_MODAL = $(".modal#update-info-modal");
        let updateBtn = $("button.btn-update-information");
        updateBtn.click(function (e) {
            $(UPDATE_INFO_MODAL).modal("show");
        });
    });
</script>
