@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .update-info-popup-container {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
    }

        .update-info-popup-container .row {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }


    .update-info-popup {
        background-color: white;
        border-radius: 0.5rem;
        height: 80vh;
        --top-pop-up-height: 7.5vh;
        --bottom-pop-up-height: 40vh;
        --middle-pop-up-height: calc(80vh - var(--top-pop-up-height) - var(--bottom-pop-up-height));
    }

        .update-info-popup .top-pop-up {
            height: var(--top-pop-up-height);
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: solid 1px black;
        }

            .update-info-popup .top-pop-up .pop-up-name {
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                font-size: large;
                font-weight: bold;
            }

                .update-info-popup .top-pop-up .pop-up-name p {
                    padding: 0rem 1rem;
                    margin-bottom: 0px !important;
                }

            .update-info-popup .top-pop-up .btn-close-pop-up {
                width: 2rem;
                height: 2rem;
                margin: 0rem 1rem;
                border-radius: 50%;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        .update-info-popup .middle-pop-up {
            height: var(--middle-pop-up-height);
        }

            .update-info-popup .middle-pop-up .background-img-container{
                width: 100%;
                height: 60%;
            }

                .update-info-popup .middle-pop-up .background-img-container label {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                .update-info-popup .middle-pop-up .background-img-container img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

            .update-info-popup .middle-pop-up .avatar-img-container {
                position: relative;
                height: 20%;
                display: flex;
                justify-content: center;
            }

                .update-info-popup .middle-pop-up .avatar-img-container label {
                    position: absolute;
                    width: 5rem;
                    height: 5rem;
                    transform: translateY(-50%);
                }

                .update-info-popup .middle-pop-up .avatar-img-container img {
                    width: 5rem;
                    height: 5rem;
                    border: 2px solid white;
                    border-radius: 50%;
                }

            .update-info-popup .middle-pop-up .user-name {
                height: 20%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 0rem 2rem;
            }

                .update-info-popup .middle-pop-up .user-name input {
                    width: 100%;
                    padding: 0px;
                }



        .update-info-popup .bottom-pop-up {
            height: var(--bottom-pop-up-height);
            margin: 0rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 1rem;
        }

            .update-info-popup .bottom-pop-up .personal-information-container {
                height: 60%;
                display: flex;
                flex-direction: column;
                margin: 1rem 0rem;
            }

                .update-info-popup .bottom-pop-up .personal-information-container .personal-information-row {
                    display: flex;
                    justify-content: space-between;
                    margin: 0.3rem 0rem;
                }

                    .update-info-popup .bottom-pop-up .personal-information-container .personal-information-row:not(:has(.personal-information-row-name)) {
                        font-size: medium;
                    }

                .update-info-popup .bottom-pop-up .personal-information-container .personal-information-row-name {
                    color: #7C8FA6;
                }

                .update-info-popup .bottom-pop-up .personal-information-container .personal-information-row-detail.input-date {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }

                    .update-info-popup .bottom-pop-up .personal-information-container .personal-information-row-detail.input-date select {
                        width: 30%;
                    }

    .bottom-pop-up .btn-update-information {
        width: 100%;
        background-color: #EAEDF0;
        font-weight: bold;
    }
</style>


<div class="update-info-popup-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="update-info-popup">
                <div class="top-pop-up">
                    <div class="pop-up-name">
                        <p>Cập nhật thông tin</p>
                    </div>
                    <button class="btn btn-close-pop-up">X</button>
                </div>

                <div class="middle-pop-up">
                    <div class="background-img-container">
                        <label for="fileBackground">
                            <img src="~/img/default_background_img.png" />
                        </label>
                        <input type="file" id="fileBackground" name="fileBackground" accept="image/*" style="display: none;" />
                    </div>
                    <div class="avatar-img-container">
                        <label for="fileAvatar">
                            <img src="~/img/default_avatar_img.png" />
                        </label>
                        <input type="file" id="fileAvatar" name="fileAvatar" accept="image/*" style="display: none;" />
                    </div>
                    <div class="user-name">
                        <label><b>Tên hiển thị</b></label>
                        <input type="text" value="Đức" name="txtUsername" />
                    </div>
                </div>

                <div class="bottom-pop-up">
                    <div class="personal-information-container">
                        <div class="personal-information-row">
                            <p><b> Thông tin cá nhân</b></p>
                        </div>

                        <div class="personal-information-row">
                            <div class="personal-information-row-name">
                                Giới tính
                            </div>
                        </div>
                        <div class="personal-information-row">
                            <div class="personal-information-row-detail">
                                <input type="radio" value="Nam" name="rdoGender" id="radio-gender-male" />
                                <label for="radio-gender-male">Nam</label>
                            </div>
                            <div class="personal-information-row-detail">
                                <input type="radio" value="Nữ" name="rdoGender" id="radio-gender-female" />
                                <label for="radio-gender-female">Nữ</label>
                            </div>
                            <div class="personal-information-row-detail">
                            </div>
                            <div class="personal-information-row-detail">
                            </div>
                        </div>

                        <div class="personal-information-row">
                            <div class="personal-information-row-name">
                                Ngày sinh
                            </div>

                        </div>
                        <div class="personal-information-row">
                            <div class="personal-information-row-detail input-date">
                                <select name="date"></select>
                                <select name="month"></select>
                                <select name="year"></select>
                            </div>
                        </div>

                    </div>
                    <button class="btn btn-update-information"> Cập nhật thông tin</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const UPDATE_INFO_POPUP_CONTAINER = $(".update-info-popup-container");
        let closeBtn = $(".update-info-popup-container button.btn-close-pop-up");
        closeBtn.click(function (e) {
            UPDATE_INFO_POPUP_CONTAINER.hide();
        });


        // let infoPopUp = document.querySelector("div.info-pop-up");
        // UPDATE_INFO_POPUP_CONTAINER.click(function (e) {
        //     //jquery.contains only work with native Dom element not jquery Element
        //     //so i had to use querySelector from native Dom
        //     if (!$.contains(infoPopUp, e.target)) {
        //         UPDATE_INFO_POPUP_CONTAINER.hide();
        //     }
        // });
    });
</script>
