@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    #update-info-modal {
        --modal-dialog-width: 384px;
        --modal-dialog-height: 556.16px;
        --modal-header-height: 52.14px;
        --modal-footer-height: 70.08px;
        --modal-body-height: calc(var(--modal-dialog-height) - var(--modal-header-height) - var(--modal-footer-height));
    }

        #update-info-modal .modal-dialog {
            justify-content: center;
        }

            #update-info-modal .modal-dialog .modal-content {
                width: var(--modal-dialog-width);
                height: var(--modal-dialog-height);
            }

        #update-info-modal .modal-header {
            height: var(--modal-header-height);
        }

        #update-info-modal .modal-body {
            height: var(--modal-body-height);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0px !important;
        }

            #update-info-modal .modal-body .background-img-container {
                width: 100%;
                height: 10rem;
            }

                #update-info-modal .modal-body .background-img-container label {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                #update-info-modal .modal-body .background-img-container img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

            #update-info-modal .modal-body .avatar-img-container {
                position: relative;
                height: 20%;
                display: flex;
                justify-content: center;
            }

                #update-info-modal .modal-body .avatar-img-container label {
                    position: absolute;
                    width: 5rem;
                    height: 5rem;
                    transform: translateY(-50%);
                }

                #update-info-modal .modal-body .avatar-img-container img {
                    object-fit: cover;
                    width: inherit;
                    height: inherit;
                    border: 2px solid white;
                    border-radius: 50%;
                }

            #update-info-modal .modal-body .user-name {
                height: 20%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 0rem 2rem;
            }

                #update-info-modal .modal-body .user-name input {
                    width: 100%;
                    padding: 0px;
                }

            #update-info-modal .modal-body .personal-information-container {
                height: 60%;
                display: flex;
                flex-direction: column;
                margin: 0rem 2rem;
            }

                #update-info-modal .modal-body .personal-information-container .personal-information-row {
                    display: flex;
                    justify-content: space-between;
                    margin: 0.2rem 0rem;
                }

                    #update-info-modal .modal-body .personal-information-container .personal-information-row:not(:has(.personal-information-row-name)) {
                        font-size: medium;
                    }

                #update-info-modal .modal-body .personal-information-container .personal-information-row-name {
                    color: #7C8FA6;
                }

                #update-info-modal .modal-body .personal-information-container .personal-information-row-detail.input-date {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }

                    #update-info-modal .modal-body .personal-information-container .personal-information-row-detail.input-date select {
                        width: 30%;
                    }

        #update-info-modal .modal-footer {
            height: var(--modal-footer-height);
            border: none;
        }

            #update-info-modal .modal-footer .btn-update-information {
                width: 100%;
                background-color: #EAEDF0;
                font-weight: bold;
            }
</style>


<div class="modal fade" id="update-info-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin cá nhân</h5>
                <button type="button" class="btn-close close" data-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="background-img-container">
                    <label for="fileBackground">
                        <img draggable="false" src="/user.png" />
                    </label>
                    <input type="file" id="fileBackground" name="fileBackground" accept="image/*"
                           style="display: none;" />
                </div>
                <div class="avatar-img-container">
                    <label for="fileAvatar">
                        <img draggable="false" src="/user.png" />
                    </label>
                    <input type="file" id="fileAvatar" name="fileAvatar" accept="image/*" style="display: none;" />
                </div>
                <div class="user-name">
                    <label><b>Tên hiển thị</b></label>
                    <input class="form-control p-2" type="text" value="Đức" name="txtUsername" />
                </div>
                <div class="personal-information-container">
                    <div class="personal-information-row">
                        <p><b> Thông tin cá nhân</b></p>
                    </div>

                    <div class="personal-information-row">
                        <div class="personal-information-row-name">
                            Giới tính
                        </div>
                    </div>
                    <div class="personal-information-row">
                        <div class="personal-information-row-detail">
                            <input class="form-check-input" type="radio" value="Nam" name="rdoGender" id="radio-gender-male" />
                            <label class="form-check-label" for="radio-gender-male">Nam</label>
                        </div>
                        <div class="personal-information-row-detail">
                            <input class="form-check-input" type="radio" value="Nữ" name="rdoGender" id="radio-gender-female" />
                            <label class="form-check-label" for="radio-gender-female">Nữ</label>
                        </div>
                        <div class="personal-information-row-detail">
                        </div>
                        <div class="personal-information-row-detail">
                        </div>
                    </div>

                    <div class="personal-information-row">
                        <div class="personal-information-row-name">
                            Ngày sinh
                        </div>

                    </div>
                    <div class="personal-information-row">
                        <div class="personal-information-row-detail input-date">
                            <select class="form-select" name="date"></select>
                            <select class="form-select" name="month"></select>
                            <select class="form-select" name="year"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-update-information"> Cập nhật thông tin</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const UPDATE_INFO_MODAL = $(".modal#update-info-modal");
        let closeBtn = $(UPDATE_INFO_MODAL).find("button.btn-close");
        closeBtn.click(function (e) {
            $(UPDATE_INFO_MODAL).modal("hide");
        });

    });
</script>
