
:root {
    --left-width: 380px;
    --navbar-section-width: 70px;
    --list-section-width: calc(var(--left-width) - var(--navbar-section-width));
}
* {
    user-select: none;
}

body {
    margin-bottom: 0px;
    height: 100vh;
    padding: 0px;
}

    body::-webkit-scrollbar {
        display: none;
    }

.row {
    --bs-gutter-x: 0rem;
}

.container-fluid {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

    .container-fluid > .row {
        height: 100%;
        margin: 0px;
    }



.left {
    padding: 0px;
    height: 100%;
    flex: 1 0 var(--left-width) !important;
}

    .left * {
        padding: 0px;
    }

    .left .navbar-section {
        flex: 0 0 var(--navbar-section-width);
    }

    .left .list-section {
        flex: 1 0 var(--list-section-width);
    }



/*Only use this class when the conversation list is display-none*/
.left-mobile {
    flex: 0 0 var(--navbar-section-width) !important;
}

@media (min-width: 768px) {
    :root {
        --left-width: 380px;
        --navbar-section-width: 70px;
        --list-section-width: calc(var(--left-width) - var(--navbar-section-width));
    }

    .left {
        flex: 0 0 var(--left-width) !important;
    }

        .left .list-section {
            flex: 0 0 var(--list-section-width) !important;
        }
}

.right {
    padding: 0px;
    height: 100%;
    flex: 14 1 10px !important
}

    .right * {
        padding: 0px;
    }

.conversation-page {
    /*         display: none; */
}

.contact-page {
    display: none;
}

